.App {
    margin: 0px;
    text-align: center;
    padding-top: 3vh;
    height: 97vh;
    background: linear-gradient(#7752fe, #190482);
}

h1 {
    color: #fff;
    margin-bottom: 25px;
    font-weight: 300;
}
